{% extends 'hill_bakes/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="home_main">
    <h1>Hill Bakes</h1>
</div>
<div class="sub_main">
    <h2><a href="{% url 'hill_bakes:home_page' %}">Home</a></h2>
    <h2><a href="{% url 'hill_bakes:cookies' %}">Cookies</a></h2>
    <h2><a href="{% url 'hill_bakes:cakes' %}">Cakes</a></h2>
    <h2><a href="{% url 'hill_bakes:cake_balls' %}">Cake Balls</a></h2>
    <h2><a href="{% url 'hill_bakes:login' %}">Login</a></h2>
    <h2><a href="{% url 'hill_bakes:signup' %}">Register</a></h2>
</div>


{% endblock %}